body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    color: #000;
    background-color: #fff;
}

header {
    padding: 2em 1.2em 1.2em;
    background-color: white;
    border-bottom: 1px solid #008aff;
}

#logo a {
    line-height: 2.2em;
    font-size: 2.2em;
    text-decoration: none;
    color: #008aff;
    text-transform: uppercase;
}

#wrapper {
    padding-bottom: 2em;
}

#stats_container {
    padding: 1.2em;
    background-color: white;
}

.stats {
    display: inline-block;
    font-size: 1.1em;
    text-transform: uppercase;
    margin: 0 2em;
}

#last_update {
    text-transform: uppercase;
    color: #717175;
    padding: 1.2em;
}

ul {
    padding: 20px;
}

li {
    position: relative;
    display: inline-block;
    height: 7em;
    width: 7em;
    margin: 0.6em;
}

.circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7em;
    width: 8em;
    border-radius: 30%;
    z-index: 2;
    opacity: 0.75;
}

.keyword {
    position: relative;
    line-height: 115px;
    z-index: 3;
    text-transform: uppercase;
    font-size: 1em;
}

.tweet {
    max-width: 90%;
    margin: 0 auto;
    padding: 0.5em;
    border: 1px solid tomato;
    height: auto;
    display: none;
    -webkit-webkit-border-: border-box;
    -moz-webkit-border-: border-box;
    -ms-webkit-border-: border-box;
    -o-webkit-border-: border-box;
    webkit-border-: border-box;

}

.glow {
    -webkit-animation: glow 0.5s linear;
    -moz-animation: glow 0.5s linear;
    -ms-animation: glow 0.5s linear;
    -o-animation: glow 0.5s linear;
    animation: glow 0.5s linear;
}

.clear {
    clear: both;
}

@-webkit-keyframes glow {
    0% {box-shadow: 0 0 15px rgba(255,255,255,1); opacity: 1}
    10% {box-shadow: 0 0 15px rgba(255,255,255,1); opacity: 1}
    100% {box-shadow: 0 0 15px rgba(255,255,255,0); opacity: 0.75;}
}
@-moz-keyframes glow {
    0% {box-shadow: 0 0 15px rgba(255,255,255,1); opacity: 1}
    10% {box-shadow: 0 0 15px rgba(255,255,255,1); opacity: 1}
    100% {box-shadow: 0 0 15px rgba(255,255,255,0); opacity: 0.75;}
}
@-ms-keyframes glow {
    0% {box-shadow: 0 0 15px rgba(255,255,255,1); opacity: 1}
    10% {box-shadow: 0 0 15px rgba(255,255,255,1); opacity: 1}
    100% {box-shadow: 0 0 15px rgba(255,255,255,0); opacity: 0.75;}
}
@-o-keyframes glow {
    0% {box-shadow: 0 0 15px rgba(255,255,255,1); opacity: 1}
    10% {box-shadow: 0 0 15px rgba(255,255,255,1); opacity: 1}
    100% {box-shadow: 0 0 15px rgba(255,255,255,0); opacity: 0.75;}
}
@keyframes glow {
    0% {box-shadow: 0 0 15px rgba(255,255,255,1); opacity: 1}
    10% {box-shadow: 0 0 15px rgba(255,255,255,1); opacity: 1}
    100% {box-shadow: 0 0 15px rgba(255,255,255,0); opacity: 0.75;}
}